<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/common :: head('Events')">
    <meta charset="utf-8" />

    <!-- bootstrap core css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link
      href="/static/css/style.css"
      th:href="@{/css/style.css}"
      rel="stylesheet"
    />

    <title>Events</title>
  </head>
  <body>
    <!-- navbar -->
    <div class="sub-page">
      <header>
        <nav class="navbar" th:replace="fragments/nav :: nav-front('Buddy')">
          <div class="container" id="nav-container">
            <ul class="navbar-nav" id="nav">
              <a class="navbar-brand" href="#" th:href="@{/}"
                ><span>Brand</span></a
              >
              <li class="nav-item">
                <a class="nav-link" href="#">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Guides</a>
              </li>

              <li class="nav-item">
                <a th:href="">
                  <i class="fa fa-cog"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="user_link" title="My Buddy Page">
                  <i class="fa fa-smile-o"></i>
                </a>
              </li>

              <li class="nav-item">
                <a href="" class="user_link">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>
              </li>

              <li class="user_link nav-item">
                <a href="" class="user_option"> Login </a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    </div>

    <div class="container mt-4">
      <div class="bg-light p-5 rounded">
        <div class="d-flex flex-column align-items-center">
          <div class="d-flex ms-auto">
            <i
              class="mt-1 mx-1 like-btn"
              th:classappend="${isLikedBuddy}? 'fa fa-heart':'fa fa-heart-o'"
              th:onclick="|like(this,${buddy.id})|"
            ></i>
            <p th:text="| ${buddy.likeCnt}|" class="like-cnt">2</p>
          </div>

          <img
            src="/static/images/roof-tile-4495550_960_720.jpg"
            th:src="${buddy.imgUrl}"
            width="160px"
            height="160px"
            alt=""
            class="mt-3"
          />
          <div class="p-3 m-3">
            <h1
              class="buddyName"
              style="text-align: center"
              th:text="${buddy.user.name}"
            >
              Buddy Name
            </h1>
          </div>
          <p class="d-flex flex-column align-items-center">
            <span th:text="|ID : ${buddy.user.username}|">
              location : all
            </span>
            <span th:text="|learning language : ${buddy.learningLang}|">
              learning language : English
            </span>
            <span th:text="|native language : ${buddy.nativeLang}|">
              native language : Korean
            </span>

            <span th:text="|location : ${buddy.location}|">
              location : all
            </span>
            <span th:text="|updated at : ${buddy.updatedAt}|">
              updated at : 2020-202/2
            </span>
          </p>

          <a
            th:unless="${#authentication.getPrincipal().getUsername()} ==  ${buddy.user.username}"
            th:href="@{|/buddy/request/${buddy.id}|}"
            class="btn btn-primary m-3 confirmSendReq"
            >request</a
          >
        </div>
        <hr />
        <div>
          <h4>Introduction</h4>
          <p class="m-5" th:utext="${buddy.intro}">hihihihi</p>
        </div>
        <hr />
        <div class="d-flex justify-content-end">
          <h4>Review</h4>
          <div class="ms-auto">
            <div class="d-flex average-rating">
              <i class="fa fa-star mt-1 mx-1"></i>
              <p th:text="${buddy.rating}">2.0</p>
            </div>
            <p
              th:text="|based on ${{#lists.size(buddy.buddyReviews)}} reviews|"
            >
              based on 3 reviews
            </p>
          </div>
        </div>
        <div class="reviews">
          <div class="border" th:each="review:${reviews}">
            <div class="d-flex justify-content-between">
              <h6 class="pt-1" th:text="${review.user.name}">Lily</h6>
              <div class="d-flex">
                <p class="mx-3 rating-num" th:text="${review.rating}">4.5</p>
                <div class="me-auto rating">
                  <!-- <i class="fa fa-star"></i> <i class="fa fa-star-half"></i> -->
                </div>
              </div>
              <p class="ms-auto" th:text="${review.formattedCreatedAt}">
                2022/08/88
              </p>
            </div>
            <div th:text="${review.comment}">It was nice to see you !</div>
          </div>
          <div class="border">
            <div class="d-flex justify-content-between">
              <h6 class="pt-1">Lily</h6>
              <div class="d-flex">
                <p class="mx-3 rating-num">5</p>
                <div class="me-auto rating">
                  <!-- <i class="fa fa-star"></i> <i class="fa fa-star-half"></i> -->
                </div>
              </div>
              <p class="ms-auto">2022/08/88</p>
            </div>
            <div>It was nice to see you !</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container p-5 d-flex justify-content-center">
      <button class="btn btn-secondary" onclick="javascript:history.back();">
        back to list
      </button>
    </div>
    <div>
      <div th:replace="fragments/common :: scripts"></div>
      <script src="/static/js/buddy.js" th:src="@{/js/buddy.js}"></script>
      <script
        defer
        src="/static/js/ratingStars.js"
        th:src="@{/js/ratingStars.js}"
      ></script>
      <script
        defer
        src="/static/js/buddyCommon.js"
        th:src="@{/js/buddyCommon.js}"
      ></script>

      <script
        src="https://kit.fontawesome.com/661f25159f.js"
        crossorigin="anonymous"
      ></script>
    </div>
  </body>
</html>
