<th:block th:each="buddy:${buddies}">
  <div class="buddy_info border-top" style="background-color: white">
    <div class="lang">
      <p
        th:text="|learning : ${buddy.learningLang} / native : ${buddy.nativeLang}|"
      >
        learning : English / native : Korean
      </p>
    </div>
    <div class="info d-flex justify-content-between">
      <div class="mt-2 p-4 buddy-detail-box">
        <a th:href="@{/buddy/{buddyId}(buddyId=${buddy.id})}" href="#">
          <h3 th:text="${buddy.user.name}">name</h3>
          <p th:text="|ID : ${buddy.user.username}|">id</p>
          <p th:text="${buddy.intro}" class="ellipsis">intro</p>
        </a>

        <div class="d-flex">
          <div class="d-flex">
            <i class="fa fa-star mt-1 mx-1"></i>
            <p
              th:text="|${buddy.rating} (${{#lists.size(buddy.buddyReviews)}})|"
            >
              2.0 (12)
            </p>
          </div>
          <div class="d-flex mx-3">
            <i
              class="mt-1 mx-1 like-btn"
              th:classappend="${#lists.contains(buddyIds,__${buddy.id}__)}? 'fa fa-heart':'fa fa-heart-o'"
              th:onclick="|like(this,${buddy.id})|"
              onclick="like(this,1)"
            ></i>
            <p th:text="| ${buddy.likeCnt}|">2</p>
          </div>
        </div>
      </div>
      <div class="m-3">
        <img th:src="${buddy.imgUrl}" alt="" height="130" width="130" />
      </div>
    </div>
    <input type="hidden" th:if="${noMore}" class="noMore" />
  </div>
</th:block>
