<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <th:block th:replace="fragments/common :: links">
      <!-- bootstrap core css -->
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
      />
      <!-- Custom styles for this template -->
      <link
        href="/static/css/style.css"
        th:href="@{/css/style.css}"
        rel="stylesheet"
      />
      <link
        href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet"
      />
    </th:block>
    <title>Events</title>
  </head>
  <body>
    <!-- navbar -->
    <div class="sub-page" th:replace="fragments/nav :: nav-front('Buddy')">
      <header>
        <nav class="navbar">
          <div class="container" id="nav-container">
            <ul class="navbar-nav" id="nav">
              <a class="navbar-brand" href="#" th:href="@{/}"
                ><span>Brand</span></a
              >
              <li class="nav-item">
                <a class="nav-link" href="#">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Guides</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Community</a>
              </li>
              <li class="nav-item">
                <a th:href="">
                  <i class="fa fa-cog"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="user_link">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>
              </li>
              <li class="user_link nav-item">
                <a href="" class="user_option"> Login </a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    </div>

    <div class="container">
      <!-- buddy -->
      <div class="bg-light p-5 rounded review-box">
        <div class="p-3 m-5">
          <h1 style="text-align: center">Review</h1>
        </div>

        <h4>Buddy:</h4>
        <div class="buddy_info border-top" style="background-color: white">
          <div class="lang">
            <p
              th:text="|learning : ${review.buddy.learningLang} / native : ${review.buddy.nativeLang}|"
            >
              learning : English / native : Korean
            </p>
          </div>
          <div class="info d-flex justify-content-between">
            <div class="mt-2 p-4 buddy-detail-box">
              <a
                th:href="@{/buddy/{buddyId}(buddyId=${review.buddy.id})}"
                href="#"
              >
                <h3 th:text="${review.buddy.user.username}">name</h3>
                <p th:text="${review.buddy.intro}" class="ellipsis">intro</p>
              </a>

              <div class="d-flex">
                <div class="d-flex">
                  <i class="fa fa-star mt-1 mx-1"></i>
                  <p th:text="|${review.buddy.rating} (${{#lists.size(review.buddy.buddyReviews)}})|">2.0 (12)</p>
                </div>
                <div class="d-flex mx-3">
                  <i class="mt-1 mx-1 like-btn fa fa-heart"></i>
                  <p th:text="| ${review.buddy.likeCnt}|">2</p>
                </div>
              </div>
            </div>
            <div class="m-3">
              <img
                th:src="${review.buddy.imgUrl}"
                alt=""
                height="130"
                width="130"
              />
            </div>
          </div>
        </div>
        <!-- buddy end -->

        <div class="d-flex flex-column mt-3">
          <div class="row mb-4">
            <h4 class="col-sm-4">Rating : </h4>
            <div class="col-sm-8">
              <div class="d-flex">
                <p class="mx-3 rating-num" th:text="${review.rating}">5</p>
                <div class="me-auto rating">
                  
                </div>
              </div>
            </div>
          </div>

        <div class="my-3">
          <h4>Comment :</h4>
          <textarea
            class="form-control"
            rows="3"
            th:text="${review.comment}"
            readonly
          ></textarea>
        </div>
        <div class="review-button">
          <a
            th:href="@{|/mybuddy/review/edit/${review.id}|}"
            class="btn btn-secondary"
            >edit</a
          >
          <a th:href="@{|/mybuddy/review/delete/${review.id}|}" class="btn btn-secondary confirmDeletion"
          >delete</a
          >
          
        </div>
      </div>
    </div>
    
  <div class="review-button m-3">
    <a href="javascript:history.back();" class="btn btn-secondary"
    >back</a
  >
  </div>
    <div>
      <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
      <script
        src="/static/js/common.js"
        th:src="@{/js/common.js}"
      ></script>
      <script
        defer
        src="/static/js/ratingStars.js"
        th:src="@{/js/ratingStars.js}"
      ></script>
      <script
        src="https://kit.fontawesome.com/661f25159f.js"
        crossorigin="anonymous"
      ></script>
      <script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
    </div>
  </body>
</html>
