<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <th:block th:replace="fragments/common :: links">
      <!-- bootstrap core css -->
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
      />
      <!-- Custom styles for this template -->
      <link
        href="/static/css/style.css"
        th:href="@{/css/style.css}"
        rel="stylesheet"
      />
      <link
        href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet"
      />
    </th:block>
    <title>Events</title>
  </head>
  <body class="bg-light">
    <!-- navbar -->
    <div class="sub-page">
      <header>
        <nav class="navbar" th:replace="fragments/nav :: nav-front(' ')">
          <div class="container" id="nav-container">
            <ul class="navbar-nav" id="nav">
              <a class="navbar-brand" href="#" th:href="@{/}"
                ><span>Brand</span></a
              >
              <li class="nav-item">
                <a class="nav-link" href="#">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Guides</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Community</a>
              </li>
              <li class="nav-item">
                <a th:href="">
                  <i class="fa fa-cog"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="user_link">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>
              </li>
              <li class="user_link nav-item">
                <a href="" class="user_option"> Login </a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    </div>
    <main class="container">
      <div class="bg-white p-5 rounded d-flex flex-column align-items-center">
        <h1>My Buddy</h1>
        <h4 class="my-4">Sent Request</h4>

        <div class="container-fluid">
          <div class="row">
            <div
              class="col-2"
              th:replace="fragments/myBuddyCategories :: myBuddy('Sent')"
            >
              <ul class="list-group">
                <li class="list-group-item">
                  <a href="/mybuddy" class="category">My Buddy Profile</a>
                </li>
                <li class="list-group-item">
                  <a href="/mybuddy/liked" class="category">Buddy I liked</a>
                </li>
                <li class="list-group-item">
                  <a href="/mybuddy/sentRequest" class="category"
                    >Sent Request</a
                  >
                </li>
                <li class="list-group-item">
                  <a href="/mybuddy/receivedRequest" class="category"
                    >Received Request</a
                  >
                </li>
                <li class="list-group-item">
                  <a href="/mybuddy/review" class="category">Review</a>
                </li>
              </ul>
            </div>

            <div class="col-10">
              <table class="table caption-top">
                <thead class="bg-secondary bg-gradient">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">buddy</th>
                    <th scope="col">request date</th>
                    <th scope="col">status</th>
                    <th scope="col">delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="request,iterStat:${requests}">
                    <th scope="row" th:text="${iterStat.count}">1</th>
                    <td>
                      <a
                        th:href="@{|/buddy/${request.buddy.id}|}"
                        th:text="${request.buddy.user.name}"
                        >buddy</a
                      >
                    </td>
                    <td th:text="${request.formattedRequestDate}">
                      request date
                    </td>
                    <td
                      th:text="${request.status}==0? 'waiting':(${request.status}==1? 'accepted':'canceled')"
                    >
                      @status
                    </td>
                    <td>
                      <a
                        th:href="@{|/mybuddy/sent-request/delete/${request.buddy.id}|}"
                        class="btn btn-danger btn-sm confirmCancel"
                        >cancle</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>

              <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
              <script
                defer
                src="/static/js/common.js"
                th:src="@{/js/common.js}"
              ></script>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
