<div class="col-2" th:fragment="myBuddy(title)">
  <ul class="list-group">
    <li
      class="list-group-item"
      th:classappend="${title}=='Profile'? 'bg-secondary'"
    >
      <a href="/mybuddy" class="category">My Buddy Profile</a>
    </li>
    <li
      class="list-group-item"
      th:classappend="${title}=='Liked'? 'bg-secondary'"
    >
      <a href="/mybuddy/liked" class="category">Buddy I Liked</a>
    </li>
    <li
      class="list-group-item"
      th:classappend="${title}=='Sent'? 'bg-secondary'"
    >
      <a href="/mybuddy/sent-request" class="category">Sent Request</a>
    </li>
    <li
      class="list-group-item"
      th:classappend="${title}=='Received'? 'bg-secondary'"
    >
      <a href="/mybuddy/received-request" class="category">Received Request</a>
    </li>
    <li
      class="list-group-item"
      th:classappend="${title}=='Review'? 'bg-secondary'"
    >
      <a href="/mybuddy/review" class="category">Review</a>
    </li>
  </ul>
</div>
