<nav
  th:fragment="nav-admin(menu)"
  class="navbar navbar-expand-md navbar-dark bg-dark nav-admin"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/" target="_blank"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarCollapse"
    >
      <a class="navbar-brand" href="/" target="_blank">KoreanBuddy</a>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a
            class="nav-link"
            th:id="${menu} == 'Home' ? 'active'"
            aria-current="page"
            th:href="@{/admin}"
            >Admin Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            th:id="${menu} == 'Users' ? 'active'"
            aria-current="page"
            th:href="@{/admin/users}"
            >Users</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            th:id="${menu} == 'Pages' ? 'active'"
            aria-current="page"
            th:href="@{/admin/pages}"
            >Pages</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            th:id="${menu} == 'Categories' ? 'active'"
            aria-current="page"
            th:href="@{/admin/categories}"
            >Categories</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- navbar -->
<div class="sub-page" th:fragment="nav(menu)">
  <header>
    <nav class="navbar">
      <div class="container" id="nav-container">
        <ul class="navbar-nav" id="nav">
          <a class="navbar-brand" href="#" th:href="@{/}"
            ><span>KoreanBuddy</span></a
          >
          <li class="nav-item" th:each="page:${cpages}" th:if="${page.slug != 'home'}">
            <a  class="nav-link" aria-current="page" th:id="${menu} == ${page.title} ? 'active'" th:href="@{|/${page.slug}|}" th:text="${page.title}">Home</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a-->
<!--              class="nav-link"-->
<!--              th:id="${menu} == 'Events' ? 'active'"-->
<!--              th:href="@{/events/All}"-->
<!--              >Events</a-->
<!--            >-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a-->
<!--              class="nav-link"-->
<!--              th:id="${menu} == 'Buddy' ? 'active'"-->
<!--              th:href="@{/buddy}"-->
<!--              >Buddy</a-->
<!--            >-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a-->
<!--              class="nav-link"-->
<!--              th:id="${menu} == 'Community' ? 'active'"-->
<!--              th:href="@{/board}"-->
<!--              >Community</a-->
<!--            >-->
<!--          </li>-->

          <li class="nav-item">
            <a th:href="@{/admin}" class="user_link">
              <i class="fa fa-cog"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="user_link">
              <i class="fa fa-user" aria-hidden="true"></i>
            </a>
          </li>
          <li class="user_link nav-item">
            <a href="" class="user_option"> Login </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</div>
