<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/common :: head('My Buddy')">
    <meta charset="utf-8" />

    <!-- bootstrap core css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link
      href="/static/css/style.css"
      th:href="@{/css/style.css}"
      rel="stylesheet"
    />

    <!-- <link
      href="/static/css/signin.css"
      th:href="@{/css/signin.css}"
      rel="stylesheet"
    /> -->
    <title>Events</title>
  </head>
  <body class="bg-light">
    <!-- navbar -->
    <div class="sub-page" th:replace="/fragments/nav :: nav-front(' ')">
      <header>
        <nav class="navbar">
          <div class="container" id="nav-container">
            <ul class="navbar-nav" id="nav">
              <a class="navbar-brand" href="#" th:href="@{/}"
                ><span>Brand</span></a
              >
              <li class="nav-item">
                <a class="nav-link" href="#">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Guides</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Community</a>
              </li>
              <li class="nav-item">
                <a th:href="">
                  <i class="fa fa-cog"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="user_link">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>
              </li>
              <li class="user_link nav-item">
                <a href="" class="user_option"> Login </a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    </div>
    <main class="container">
      <div class="bg-white p-5 rounded d-flex flex-column align-items-center">
        <h1>My Buddy</h1>
        <h4 class="my-4">Buddy I Liked</h4>

 
        <div class="container-fluid">
          <div class="row">
            <div
              class="col-2"
              th:replace="fragments/myBuddyCategories :: myBuddy('Liked')"
            >
              <ul class="list-group">
                <li class="list-group-item">
                  <a href="/MyBuddy/liked" class="category">Buddy I liked</a>
                </li>
                <li class="list-group-item">
                  <a href="/MyBuddy/sentRequest" class="category"
                    >Sent Request</a
                  >
                </li>
                <li class="list-group-item">
                  <a href="/MyBuddy/receivedRequest" class="category"
                    >Received Request</a
                  >
                </li>
              </ul>
            </div>

            <div class="col-8">
      
              <main id="buddies">
                <th:block th:each="buddy:${buddies}">
                  <div
                    class="buddy_info border-top"
                    style="background-color: white"
                  >
                    <div class="lang">
                      <p
                        th:text="|learning : ${buddy.learningLang} / native : ${buddy.nativeLang}|"
                      >
                        learning : English / native : Korean
                      </p>
                    </div>
                    <div class="info d-flex justify-content-between">
                      <div class="mt-2 p-4 buddy-detail-box">
                        <a
                          th:href="@{/buddy/{buddyId}(buddyId=${buddy.id})}"
                          href="#"
                        >
                          <h3 th:text="${buddy.user.username}">name</h3>
                          <p th:text="${buddy.intro}" class="ellipsis">intro</p>
                        </a>
    
                        <div class="d-flex">
                          <div class="d-flex">
                            <i class="fa fa-star mt-1 mx-1"></i>
                            <p>2.0 (12)</p>
                          </div>
                          <div class="d-flex mx-3">
                            <!-- th:classappend="${#lists.contains(buddyIds,__${buddy.id}__)}? 'fa fa-heart':'fa fa-heart-o'" -->
                            <i
                              class="mt-1 mx-1 like-btn fa fa-heart"
                              th:onclick="|like(this,${buddy.id})|"
                              onclick="like(this,1)"
                            ></i>
                            <p th:text="| ${buddy.likeCnt}|">2</p>
                          </div>
                        </div>
                      </div>
                      <div class="m-3">
                        <img
                          th:src="${buddy.imgUrl}"
                          alt=""
                          height="130"
                          width="130"
                        />
                      </div>
                    </div>
                    <input type="hidden" th:if="${noMore}" class="noMore" />
                  </div>
                </th:block>
              </main>
              <div class="buddy_info border-top" style="background-color: white">
                <div class="lang"><p>learning : English / native : Korean</p></div>
                <div class="info d-flex justify-content-between">
                  <div class="mt-2 p-4">
                    <h3>name</h3>
                    <p>intro</p>
                    <div class="d-flex">
                      <i class="fa fa-star mt-1 mx-1"></i>
                      <p>2.0 (12)</p>
                    </div>
                  </div>
                  <div class="m-3">
                    <img
                      src="/static/images/roof-tile-4495550_960_720.jpg"
                      alt=""
                      height="130"
                      width="130"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2"></div>
          </div>
          </div>
        </div>
      </div>
    </main>
    <script
    defer
    src="/static/js/buddies.js"
    th:src="@{/js/buddies.js}"
  ></script>
  </body>
</html>
