<th:block th:fragment="links">
  <!-- bootstrap core css -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <!-- Custom styles for this template -->
  <link
    href="/static/css/style.css"
    th:href="@{/css/style.css}"
    rel="stylesheet"
  />
  <link
    href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
  />
</th:block>

<head th:fragment="head(title)">
  <meta charset="utf-8" />

  <!-- bootstrap core css -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <!-- Custom styles for this template -->
  <link
    href="/static/css/style.css"
    th:href="@{/css/style.css}"
    rel="stylesheet"
  />

  <title>Events</title>
</head>

<div th:fragment="scripts">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script
    src="https://kit.fontawesome.com/661f25159f.js"
    crossorigin="anonymous"
  ></script>
</div>
