<div class="rating" th:fragment="'5.0'">
  5 &nbsp; &nbsp; &#xf005; &#xf005; &#xf005; &#xf005; &#xf005;
</div>

<div class="rating" th:fragment="4.5">
  4.5 &nbsp; &#xf005; &#xf005; &#xf005; &#xf005; &#xf089;
</div>

<div class="rating" th:fragment="4.0">
  4 &nbsp; &nbsp; &#xf005; &#xf005; &#xf005; &#xf005;
</div>

<div class="rating" th:fragment="3.5">
  3.5 &nbsp; &#xf005; &#xf005; &#xf005; &#xf089;
</div>

<div class="rating" th:fragment="3.0">
  3 &nbsp; &nbsp; &#xf005; &#xf005; &#xf005;
</div>

<div class="rating" th:fragment="2.5">
  2.5 &nbsp; &#xf005; &#xf005; &#xf089;
</div>

<div class="rating" th:fragment="2.0">2 &nbsp; &nbsp; &#xf005; &#xf005;</div>

<div class="rating" th:fragment="1.5">1.5 &nbsp; &#xf005; &#xf089;</div>

<div class="rating" th:fragment="1.0">1 &nbsp; &nbsp; &#xf005;</div>
<div class="rating" th:fragment="0.5">0.5 &nbsp; &#xf089;</div>
